
<h1>Create Task</h1>
<form [formGroup]="form" (ngSubmit)="Guardar()">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control"formControlName="Nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Duracion</label>
      <input type="text" class="form-control" formControlName="Duracion" id="exampleInputPassword1" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tipo</label>
      <input type="text" class="form-control"  formControlName="Tipo" id="exampleInputPassword1" >
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">UserID</label>
      <input type="password" class="form-control" id="exampleInputPassword1" >
    </div> -->
    
    <button class="btn btn-primary">Crear</button>
  </form>