<!-- <div class="general">

    <nav class="Left">
     
      <i class="fa fa-plus fa-2x"  (click)="Mostrar()" id="Plus"></i>
        <table class="table ">
            <thead>
              <tr >
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tareas</th>
                <th scope="col">Tipo</th>
                
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of results">
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.tareas[0].id}}</td>
                <td>{{item.tipo}}</td>
               
                <td>Delete/Edit</td>
              </tr>
             
            </tbody>
          </table>

    </nav>  
    <nav class="Right">

      <ul *ngFor="let item of results">

         <h1>User: {{item.name| titlecase }}</h1> 

       
            <table class="table ">
              <thead>
                <tr >
      
                  <th scope="col">Nombre</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Duracion</th>
                  
            
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tareas of item.tareas">
                  <th scope="row">{{tareas.name}}</th>
                  <th scope="row">{{tareas.tipo}}</th>
                  <th scope="row">{{tareas.duracion}}</th>
                 
                 
                  <td>Delete/Edit</td>
                </tr>
               
              </tbody>
            </table>


          </ul>


    
    </nav>
  



</div> -->



<!-- /Mark up -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

 

<p class=" font-weight-bold text-center">Your activities: {{ Usuario| titlecase}}</p>

<div 
     style="margin:0 auto;
            width: 50%;
            height: 50%;
            border: 1px solid black">
    <div><i class="bi bi-plus-square"></i></div>
    <div *ngFor="let item of results">
      <div *ngFor="let tareas of item.tareas">

        <div class="p-3 mb-2 bg-white border text-left"
            style="margin:0 auto; width: 40%; height: 50%">{{tareas.name}}
          
            <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
            <i class="fas fa-plus-square fa-2x"></i>
            <i class="far fa-edit fa-2x"></i>
        </div>
          

      </div>
    </div>

</div>

